.dice-container {
  background-color: red;
}
.title {
  background-color: red;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
